{% extends "base.html" %}
{% block content %}	
<!-- Main -->

<h1>COVID-19 Data Analysis</h1>
<!--<span class="image main"><img src="images/covid.jpg" alt="" /> </span>-->
<iframe class="image embed" title="Covid_Visualization"  src="https://app.powerbi.com/view?r=eyJrIjoiMTA1NDZjNjItYWVlNC00OWVlLWJkNGItMGM2M2RmYTRlYjhkIiwidCI6IjU3MWM4NzU1LWI2ZjYtNGU3Mi1hYjU4LTJlYWVjNDllNDEzZCIsImMiOjl9&pageName=ReportSection5b73ce066eb5c9572e16" frameborder="0" allowFullScreen="true"></iframe>							
<p>The COVID-19 epidemic, which emerged in Wuhan, China on November 17, 2019, has locked life all over the world for about 2 years. In my analysis, I analyzed the deaths and cases until 15 October 2022 on a country-by-country basis across the world.</p>
<li><a target= "_blank" href="https://ourworldindata.org/covid-deaths"><span class="label">You can access the current COVID-19 dataset here.</span></a></li>
<li><a id="github" target= "_blank" href="https://github.com/ofarukakal/COVID_19_Analysis"><span class="label">You can access the Project's GitHub page.</span></a></li>
<p></p>
<p>I made the data set I received from the Our World in Data suitable for editing and visualization using Microsoft SQL Server. And I visualized with Power BI. You can see the SQL codes I wrote in the code snippets below.</p>

<pre> <code class="lang-sql">
--Data Exploration
SELECT *
FROM COVID_Analysis..Covid_Deaths
ORDER BY 2

SELECT *
FROM COVID_Analysis..Covid_Vaccinations
ORDER BY 3,4


--Focusing at Total Cases and Total Deaths 
SELECT location,date,total_cases,new_cases,total_deaths,population
FROM COVID_Analysis..Covid_Deaths
ORDER BY 1,2


-- Set divide by zero warnings off
SET ANSI_WARNINGS OFF
</code></pre>

<p></p>

<pre> <code class="lang-sql">
-- Change data type because we use it for math operations
ALTER TABLE COVID_Analysis..Covid_Deaths
ALTER COLUMN total_cases FLOAT NULL;

ALTER TABLE COVID_Analysis..Covid_Deaths
ALTER COLUMN total_deaths FLOAT NULL;

ALTER TABLE COVID_Analysis..Covid_Deaths
ALTER COLUMN new_cases FLOAT NULL;

ALTER TABLE COVID_Analysis..Covid_Deaths
ALTER COLUMN new_deaths FLOAT NULL;

ALTER TABLE COVID_Analysis..Covid_Deaths
ALTER COLUMN population FLOAT NULL;

</code></pre>

<p></p>

<pre> <code class="lang-sql">
-- Focusing at Total Cases and Population
SELECT location, date, total_cases, total_deaths, (total_deaths /total_cases)*100 AS Death_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE location = 'Turkey'
ORDER BY 1,2


-- Focusing at Countries with Infection Rate
SELECT location, date, population, total_cases, (total_cases/ population)*100 AS Infection_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE location = 'Turkey'
ORDER BY 1,2


-- Focusing at Countries with Highest Infection Rate 
SELECT location, population, MAX(total_cases) AS Highest_Infection, MAX((total_cases/ population))*100 AS Highest_Infection_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE continent IS NOT NULL
GROUP BY location, population
ORDER BY 4 DESC


-- Focusing at Countries with Highest Death Rate
SELECT location, population, MAX(total_deaths) AS Total_Death, MAX((total_deaths/ population))*100 AS Highest_Death_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE continent IS NOT NULL
GROUP BY location, population
ORDER BY 3 DESC


--Global Deaths and Cases
SELECT SUM(new_cases) AS Total_cases , SUM(CAST(new_deaths AS FLOAT)) AS Total_Death, SUM(CAST(new_deaths AS FLOAT))/SUM(new_cases)*100 AS Death_Per_Case_Percentage_in_World
FROM COVID_Analysis..Covid_Deaths
WHERE continent IS NOT NULL
--GROUP BY date
ORDER BY 1
</code></pre>

<p></p>

<pre> <code class="lang-sql">
-- JOIN TWO TABLE
SELECT D.location, D.date, D.population, V.new_vaccinations
, SUM(CAST(V.new_vaccinations AS FLOAT)) OVER (PARTITION BY V.location ORDER BY D.location, D.date) AS Total_Vaccinated_People
--, (Total_Vaccinated_People/population)*100 -- ERROR let's go to CTE's
FROM COVID_Analysis..Covid_Deaths D
JOIN COVID_Analysis..Covid_Vaccinations V
	ON D.location = V.location AND D.date= V.date
WHERE D.continent IS NOT NULL 
ORDER BY 1,2 
</code></pre>

<p></p>

<pre> <code class="lang-sql">

-- CTE
With Population_and_Vaccination (Location, Date, Population, New_Vaccinations, Total_Vaccinated_People)
as
(
SELECT D.location, D.date, D.population, V.new_vaccinations
, SUM(CAST(V.new_vaccinations AS FLOAT)) OVER (PARTITION BY V.location ORDER BY D.location, D.date) AS Total_Vaccinated_People
--, (Total_Vaccinated_People/population)*100 -- ERROR let's go to CTE's
FROM COVID_Analysis..Covid_Deaths D
JOIN COVID_Analysis..Covid_Vaccinations V
	ON D.location = V.location AND D.date= V.date
WHERE D.continent IS NOT NULL 
)
Select *, (Total_Vaccinated_People/Population)*100 AS Vaccinated_Percentage
From Population_and_Vaccination
ORDER BY 1,2
</code></pre>

<p></p>

<pre> <code class="lang-sql">
--Temp Table 
DROP Table if exists #Vaccinated_Percentage
Create Table #Vaccinated_Percentage
(
Location nvarchar(255),
Date datetime,
Population numeric,
New_Vaccinations float,
Total_Vaccinated_People float
)

Insert into #Vaccinated_Percentage
SELECT D.location, D.date, D.population, V.new_vaccinations
, SUM(CAST(V.new_vaccinations AS FLOAT)) OVER (PARTITION BY V.location ORDER BY D.location, D.date) AS Total_Vaccinated_People
--, (Total_Vaccinated_People/population)*100 -- ERROR let's go to CTE's
FROM COVID_Analysis..Covid_Deaths D
JOIN COVID_Analysis..Covid_Vaccinations V
	ON D.location = V.location AND D.date= V.date
WHERE D.continent IS NOT NULL 

Select *, (Total_Vaccinated_People/Population)*100 AS Vaccinated_Percentage
From #Vaccinated_Percentage
ORDER BY 1,2

</code></pre>

<p></p>

<pre> <code class="lang-sql">

-- Creating Views for Power BI
-- 1) Vaccinated Percentage 
Create View Vaccinated_Percentage as
With Vaccinated_Percentage (Location, Date, Population, New_Vaccinations, Total_Vaccinated_People) AS(
SELECT D.location, D.date, D.population, V.new_vaccinations
, SUM(CAST(V.new_vaccinations AS FLOAT)) OVER (PARTITION BY V.location ORDER BY D.location, D.date) AS Total_Vaccinated_People
--, (Total_Vaccinated_People/population)*100 -- ERROR let's go to CTE's
FROM COVID_Analysis..Covid_Deaths D
JOIN COVID_Analysis..Covid_Vaccinations V
	ON D.location = V.location AND D.date= V.date
WHERE D.continent IS NOT NULL 
)
SELECT *, (Total_Vaccinated_People/Population)*100 AS Vaccinated_Percentage
FROM Vaccinated_Percentage

SELECT *
FROM Vaccinated_Percentage


-- 2) Case and Death by Date Percentage
CREATE VIEW Case_and_Death_Date_Percentage AS
WITH Case_and_Death_Date_Percentage (Date, Total_Cases, Total_Deaths, Death_Percentage) as (
SELECT date, SUM(new_cases) as total_cases, SUM(cast(new_deaths as int)) as total_deaths, SUM(cast(new_deaths as int))/SUM(New_Cases)*100 as Death_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE continent is not null 
GROUP BY date
)
SELECT *
FROM Case_and_Death_Date_Percentage


-- 3) Infection Percentage
CREATE VIEW Infection_Percentage AS
WITH Infection_Percentage (Location, Date, Population, Total_Cases, Infection_Percentage) AS (
SELECT location, date, population, total_cases, (total_cases/ population)*100 AS Infection_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE continent IS NOT NULL
)
SELECT *
FROM Infection_Percentage


-- 4) Highest Infection Percentage
CREATE VIEW Highest_Infection_Percentage AS
WITH Highest_Infection_Percentage (Location, Population, Highest_Infection, Highest_Infection_Percentage) AS (
SELECT location, population, MAX(total_cases) AS Highest_Infection, MAX((total_cases/ population))*100 AS Highest_Infection_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE continent IS NOT NULL
GROUP BY location, population
)
SELECT *
FROM Highest_Infection_Percentage


-- 5) Highest Death Percentage
CREATE VIEW Highest_Death_Percentage AS
WITH Highest_Death_Percentage (Location, Population, Total_Death, Highest_Death_Percentage) AS (
SELECT location, population, MAX(total_deaths) AS Total_Death, MAX((total_deaths/ population))*100 AS Highest_Death_Percentage
FROM COVID_Analysis..Covid_Deaths
WHERE continent IS NOT NULL
GROUP BY location, population
)
SELECT *
FROM Highest_Death_Percentage
</code></pre>
{% endblock %}