				<!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <section>
                            <h2>Get in Touch</h2>
                            <ul class="icons">
                                <li><a id="linkedin" target= "_blank" href="https://www.linkedin.com/in/ofarukakal/" class="icon brands style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
                                <li><a id="github" target= "_blank"href="https://github.com/ofarukakal" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                                <li><a target= "_blank"href="https://twitter.com/ofarukakal" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a target= "_blank"href="mailto:o.farukakal@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>

                            </ul>
                        </section>
                        <ul class="copyright">
                            <li>&copy; OFA. All rights reserved</li>
                        </ul>
                    </div>
                </footer>

        </div>

    <!-- Scripts -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>
